.about-us-container {
    padding: 40px;
    background: #fffef9;
    margin-top: 640px;
  }
  
  .about-us-content {
    display: flex;
    gap: 2rem;
  }
  
  .about-images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .about-images img {
    width: 100%;
    /* border-radius: 8px; */
    object-fit: cover;
  }
  
  .about-text {
    flex: 1;
    gap: 8rem;
  }
  
  .tabs {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
    margin-left: 30px;
  }
  
  .tabs button {
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;	
  }
  
  .tabs button.active {
    border-color: #0d3b5f;
    color: #0d3b5f;
  }
  
  .tab-content h3 {
    margin-top: 0;
  }
  
  .skills-section {
    margin-top: 60px;
  }
  
  .skills-section h3 {
    color: #a00;
  }
  
  .skills-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .skills-section li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .cta {
    margin-top: 30px;
    font-size: 16px;
  }
  