.faq-section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .faq-tag {
    color: #c13f3f;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .faq-title {
    font-size: 24px;
    color: #123c59;
    margin-bottom: 40px;
  }
  
  .faq-list {
    border-top: 1px solid #ddd;
  }
  
  .faq-item {
    margin-bottom: 10px;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    color: #222;
  }
  
  .faq-icon {
    color: #666;
    font-size: 14px;
    transition: transform 0.3s ease;
  }
  .faq-icon.rotated {
    transform: rotate(180deg);
  }
  
.faq-answer-wrapper {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    padding-left: 20px;
    width: 100%; /* Match question width */
  }
  
  .faq-answer-wrapper.open {
    max-height: 300px; /* Adjust based on content */
    opacity: 1;
    transform: translateY(0);
  }


  .faq-answer {
    color: #333;
    font-size: 15px;
    margin: 0 0 15px 0;
    transition: all 0.3s ease;
  }
  
  hr {
    border: none;
    border-top: 1px solid #e1e1e1;
    margin: 0;
  }

  @media only screen and (min-width: 480px) {
    .faq-section {
      padding: 40px 20px;
      max-width: 1000px;
      margin: auto;
    }
  
    .faq-tag {
      color: #c13f3f;
      font-weight:800;
      margin-bottom: 10px;
      font-size: 16px;
    }
  
    .faq-title {
      font-size: 22px;
      color: #123c59;
      margin-bottom: 40px;
    }
  
    .faq-list {
      border-top: 1px solid #ddd;
    }
  
    .faq-item {
      margin-bottom: 2px;
    }
  
    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 15px 0;
      font-size: 16px;
      font-weight: 500;
      height: 60px;
      color: #222;
    }
    .faq-answer{
      color: #333;
      font-size: 15px;
      margin: 0 0 15px 0;
      line-height: 20px;
      transition: all 0.3s ease;
    }
  
    .faq-icon {
      color: #666;
      font-size: 14px;
      transition: transform 0.3s ease;
    }
  
    .faq-icon.rotated {
      transform: rotate(180deg);
    }
  }