@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-left {
    animation: slideInFromLeft 1s ease-out;
  }
  
/* Responsive additions only */
@media (max-width: 1200px) {
  .welcome-container {
    margin-right: 300px;
  }
}

@media (max-width: 992px) {
  .welcome-container {
    margin-right: 100px;
    margin-left: 30px;
  }
  
  .welcome-subtitle {
    font-size: 3rem !important;
  }
  
}

@media (max-width: 768px) {
  .welcome-container {
    margin: 10px 20px 0 20px !important;
    padding: 1rem !important;
    text-align: center !important;
  }
  
  .welcome-title {
    margin: -100px auto 1rem !important;
    width: fit-content !important;
    padding: 7px 15px !important;
  }
  
  .welcome-subtitle {
    font-size: 2.5rem !important;
    margin-bottom: 1.5rem !important;
    text-align: center !important;
  }
  
  .welcome-buttons {
    justify-content: center !important;
    flex-wrap: wrap;
    
  }
}

@media (max-width: 576px) {
  .welcome-container{
    margin-top: -100px;
  }
  .welcome-subtitle {
    font-size: 2rem !important;
  }
  
  .welcome-title {
    font-size: 0.9rem !important;

  }
  
  .welcome-buttons button {
    padding: 0.6rem 1rem !important;
    font-size: 0.6rem !important;
    width: 140px;
    
  }
  .welcome-buttons{
    margin-bottom: 50px;

  }

}

@media (max-width: 400px) {
  
  .welcome-subtitle {
    font-size: 1.8rem !important;
  }
  
  .welcome-buttons {
    flex-direction: column;
    gap: 0.8rem !important;
  }
}